.home {
    position: relative;
    text-align: center;
    padding: 40px;
    padding-left:50px;
    padding-right: 50px;
}

.home-top > img {
    width: 100%;
    z-index: 100;
}

.home-top > h1 {
    position: absolute;
    top: 8%;
    left:50%;
    text-replace: translate(-50%, -50%);
    color: white;
    font-weight: 900;
    width: 200px;
    font-size: 90px;
    display: inline-block !important;
}

.home-top > h6 {
    position: absolute;
    top: 70%;
    left:50.5%;
    text-replace: translate(-50%, -50%);
    color: lightgray;
    font-weight: 300;
    font-size: 20px;
    display: inline-block !important;
}

.shop-btn {
    position: absolute;
    top: 75%;
    left:51%;
    text-replace: translate(-50%, -50%);
    background-color: white;
    height: 42px;
    width: 100px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    outline: none;
    display: inline-block !important;
}

.shop-btn:hover {
    opacity: 0.5;
}

.home-middle {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-middle > h4 {
    font-weight: 500;
}

.home-middle > h2 {
    text-align: left;
    font-weight: 600;
}

.products {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}